.aqua-border {
    width: 1000px;
    height: 1000px;
}
@keyframes animBubble {
    from {
      transform: translateY(2000%)
    }
  
    to {
      transform: translateY(100%)
    }
  
  }
.bubbling {
    animation: animBubble 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.hitEffect {
    border-style: solid;
    border-color: rgb(0, 56, 11);
    border-width: 20px;
    width: 1000px;
    height: 1000px;
    animation: animHit 1.5s;
    animation-iteration-count: 3;
    border-color: rgb(41, 188, 233);
}

@keyframes animHit {
    from {
        border-color: rgb(130, 21, 21);
    }

    to {
        border-color: red;
        box-shadow: 5px 5px 5px 10px #97043a;
    }
}

.fish-wrapper {
    position: absolute;
}

.green {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.red {
    filter: invert(20%) sepia(79%) saturate(2476%) hue-rotate(0deg) brightness(118%) contrast(100%);
}

.blue {
    filter: invert(15%) sepia(79%) saturate(2476%) hue-rotate(240deg) brightness(118%) contrast(119%);
}

.right {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.fishColorRed {
    color: rgba(255, 255, 255, 0);
}

.fish {
    animation: animMove 0.5s;
    animation-iteration-count: 3;
    border-width: 6px;
    border-color: rgb(4, 61, 105);
    border-style: solid;
}