<div class="main" style="background-color: rgb(10, 0, 68);" cdkDropList (cdkDropListDropped)="drop($event)">
       <div class="container-top">
        <div class="example-box" *ngFor="let color of colors" cdkDrag>
            <div id="green" class="circle" [ngStyle]="{'background-color': color}" type="button">
            </div>
        </div>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let color of colors" cdkDrag>
            <button id="green" class={{greenBtnClass}} (click)="onBtnSelect($event)" id={{color}}
                [ngStyle]="{'background-color': color}" type="button">
                {{color}}</button>
        </div>
    </div>
   
</div>
<button (click)="goCanvas()"  color="primary">Canvas</button>
