<div class="main" style="background-color: rgb(76, 74, 78);" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="container-top">
        <div class={{selectedColor}} class="circle">1</div>
        <div class={{selectedColor}} class="circle">2</div>
        <div class={{selectedColor}} class="circle">3</div>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" >
        <div class="example-box" *ngFor="let color of colors" cdkDrag>
            <button id="green" class={{greenBtnClass}} (click)="onBtnSelect($event)" id={{color}} 
                [ngStyle]="{'background-color': color}" type="button">
                {{color}}</button>
        </div>
    </div>


</div>